<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build openjdk workspace&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JDK_WORKSPACE</name>
          <description>The name of the WORKSPACE to sync and build, e.g. jdk14 jdk11 etc</description>
          <defaultValue>jdk</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JDK_TAG</name>
          <description>The tag to download e.g. jdk-14+36</description>
          <defaultValue>tip</defaultValue>
          <trim>true</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/bin/sh $JENKINS_HOME/specjbb_scripts/jobscripts/jdk_build/run_job.sh ${JDK_WORKSPACE} ${JDK_TAG}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>