[
 { 
    match: [ "syntest/*.doit" ],
    c1 : {
       Enable: false
    },
    c2: {
       Exclude: false
    }
 },
 {
    match: [ "*.*" ],
    c1 : {
      Enable: false
    },
    c2: {
      inline: [ "-syntest/*.*" ] 
    }
 }
]
